.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
}

.header__logo {
    object-fit: contain;
    height: 40px;
}

.header__icon {
    padding: 20px;
}